#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(158, 134, 148, 0.4);
}

body{
    margin: 0px;
}
header a{
    height: 50px;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.logo {
    height: 50px;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 270px;
    padding: 0px 30px;
    margin: 0 100px 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographe_page-content div img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    background-color: #901C1C;
    border-radius: 100px;
    box-shadow:  5px 5px 10px #cfcfcf,
             -5px -5px 10px #ffffff;
}

.name-photographe{
    color: #D3573C;
    font-weight: normal;
    font-size: 3.1em;
    margin-bottom: 15px;
}

.ville-photographer{
    color: #901C1C;
}

.description-page-photographer{
    text-align: left;
}

.contact_button,
#contact_button-form {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographe-page-section{
    margin: 20px 0 0 100px ;
}

.text-trie{
    font-weight: bold;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: relative;
    margin: 5% auto;
}

select{
    border-radius: 5px;
    padding: 8px ;
    font-weight: bold;
    color: #ffffff;
    background-color: #901C1C;
}

.photographe_page_photo-content{
    margin: 25px 100px 50px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photographe_page_photo-content article{
    width: 26%;
    margin-bottom: 15px;
}

.photo{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.description-photo{
    display: flex;
    font-size: 1.4em;
    justify-content: space-between;
}

.name-photo{
    margin: 10px 0; 
    color: #901C1C;
}

.notif-photo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes-photo{
    margin: 10px 5px;
    color: #901C1C;
}

.far.heart-picto{
    font-weight: 900;
    color: #901C1C;
    font-size: 15px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    left: 25px;
    top: 25px;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
    height: 35px;
    width: 35px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0px 0px 25px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
    font-family: var(--font-default);
    font-weight: normal;
    display: inline-block;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 5px;
}


.photographe_page-infobar{
    display: flex;
    border-radius: 3px 3px 0px 0px;
    background-color: #DB8876;
    position: fixed;
    bottom: 0px;
    right: 80px;
    width: 15%;
}
.d-flex{
    display: flex;
}
.infobarBox{
    font-size: 1.2em;
    width: 100%;
    justify-content: space-around;
}
.far.heart-picto-infobar{
    font-weight: 900;
    color: #000;
    padding: 22px 0px;
    font-size: 15px;
}
.contentTotalLike{
    margin-right: 5px;
}

.box-filtre{
    display: flex;
    margin-left: 100px;
    align-items: center;
}

.text-fitre{
    font-weight: bold;
    margin-right: 20px;
}

.modal-ligthbox{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
}

.cursor {
    cursor: pointer;
}

.close {
    color: #901C1C;
    position: fixed;
    top: 50px;
    right: 150px;
    font-size: 55px;
    font-weight: bold;
}
.modal-content {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
}
.next{
    right: 150px;
}
.prev{
    left: 150px;
}
.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    color: #901C1C;
    font-size: 40px;
    z-index: 11;
    transition: 0.6s ease;
}
.media{
    width: 100%;
    height: 600px;
    object-fit: contain;
}
.name-photo-lightbox{
color: #901C1C;
font-size: 1.4rem;
}
#formMessage{
    width: 100%;
    border: none;
    border-radius: 5px;
}

.result{
    display: flex;
    color: #901C1C;
}