@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0px;
    
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    background-color: #901C1C;
}

.sectionPhotographer{
    margin: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sectionPhotographer article{
    width: 27%;
    text-align: center;
    margin-bottom: 70px;
}

a.link-haider-article{
    text-decoration: none;
    height: 200px;
    width: 200px;
}

.image-photographer{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow:  5px 5px 10px #cfcfcf,
             -5px -5px 10px #ffffff;
}

.sectionPhotographer article h2{
    color: #D3573C;
    font-size: 36px;
    margin: 20px 0px 0px 0px;
    font-weight: normal;
}

.ville{
    color: #D3573C;
    margin: 0px;

}

.description{
    margin: 2px 0px;
    font-size: 10px;
}

.tarif{
    font-size: 10px;
    color: gray;
    margin: 0px;
}

